{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}
<br>
<a style="font-weight:bold;color:#6ca158" href="http://www.lijiaocn.com/tags/blockchain.html" >学习笔记</a>
<a style="font-weight:bold;color:#6ca158" href="https://study.163.com/provider/400000000376006/course.htm?share=2&shareId=400000000376006">视频演示</a>
<a style="font-weight:bold;color:#6ca158" href="http://www.lijiaocn.com/img/xiaomiquan-blockchain.jpg">知识星球</a>
<br>
<a href="https://chat.hyperledger.org">Rocket Chat</a>  <a href="https://jenkins.hyperledger.org/">CI</a>
<a href="http://stackoverflow.com/questions/tagged/hyperledger-fabric">StackOverflow</a>
<br>
{% endblock %}
